@import "../../commonStyle.scss";

.wrapper {
  background-color: $bgGray;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      flex-basis: 200px;
      flex-shrink: 1;
      // width: 200px;
      padding: 15px;
      box-shadow: 1px 0px 1px #000;
      cursor: pointer;
      &.active {
        background-color: $bgBlack;
      }
      position: relative;
    }
    .closeBtn {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 15px;
    }
  }
}
