@import "../../commonStyle.scss";

.App {
  font-size: 14px;
  font-family: "Consolas";
  display: flex;
  color: $fontWhite;
  font-family: "Microsoft JhengHei";
  a {
    text-decoration: none;
    color: $fontWhite;
  }
}
