@import "../../commonStyle.scss";

.wrapper {
  flex-grow: 1;
  padding: 25px;
  box-sizing: border-box;
  overflow-x: auto;
}

.msgBox {
  display: flex;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  .time {
    padding-right: 15px;
    color: $fontWhite;
  }
  .msgTag {
    color: $fontBlue;
  }
  .content {
    margin: 10px 0 10px 10px;
    padding-left: 10px;
    border-left: 1px solid $fontWhite;
  }
  &.isSelf {
    .rightBox {
      margin-left: 40px;
    }

    .msgTag {
      color: $fontGreen;
    }
  }
}
