@import "../../commonStyle.scss";

.wrapper {
  flex-grow: 1;
  padding: 15px;
  box-sizing: border-box;
  overflow-x: auto;
  box-shadow: 0 6px 6px -6px #000000 inset;
}

.msgBox {
  display: flex;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  .time {
    padding-right: 15px;
    color: $fontGray;
  }
  .msgTag {
    color: $fontBlue;
  }
  .content {
    margin: 10px 0 10px 10px;
    padding-left: 10px;
    border-left: 1px solid $fontGray;
  }
  &.isSelf {
    .rightBox {
      margin-left: 40px;
    }
    .msgTag {
      color: $fontGreen;
    }
  }
}

.alert {
  .blue {
    color: #499cd6;
  }
  .sky {
    color: #9cdcfe;
  }
  .orange {
    color: #ce9178;
  }
}
