@import "../../commonStyle.scss";

.rightPart {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bgBlack;
  flex-grow: 1;
}

.idType {
  color: $fontWhite;

  > div {
    cursor: pointer;
    font-size: 20px;
    &:hover {
      color: $fontYellow;
    }
    &:first-child {
      margin-bottom: 40px;
    }
  }
}

.box {
  font-size: 14px;
  height: 31px;
  background-color: #303030;
  color: $fontWhite;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 10px;
}
