@import "../../commonStyle.scss";

.aside {
  background-color: $bgGray;
  width: 300px;
  position: relative;
}

.title {
  padding: 15px;
  text-align: center;
  h2 {
    font-size: 14px;
    margin: 0;
    svg {
      margin-right: 5.2px;
    }
    > * {
      vertical-align: middle;
    }
  }
}

.subTitle {
  background-color: $tabGray;
  padding: 5px 15px;
  box-shadow: 0 6px 6px -6px #000000;
}

.roomList {
  padding: 15px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        color: $fontYellow;
        background-color: #222;
      }
    }
  }
}

.addBtnBox {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 15px;
  width: 100%;
  box-sizing: border-box;
  button {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid $fontWhite;
    color: $fontWhite;
    cursor: pointer;
    &:hover {
      color: $fontYellow;
      border-color: $fontYellow;
      cursor: pointer;
    }
  }
}
